.awesome p {
    color: #86878B;
    font-size: 14px; 
    font-weight: 400;
}
h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.awesome {
    background-color: #FFFFFF;
    padding: 100px 0 109px 0;
}
.awesome_title {
    margin-bottom: 36px;
    text-align: center;
}
.awesome_texttitle {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 25px;
}
.awesome_texttitle::after {
    content: '';
    width: 64px;
    height: 1px;
    background-color: #E72424;
    background-size: cover;
    display: block;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 34px;
}
.awesome_item_wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;
}
.wrapp_img {
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.item {
    width: 350px;
    text-align: center;
}
.item_title {
    margin-bottom: 16px;
}









