.footer {
    background-color: #000000;
    padding: 30px 0 15px 0;
}
.footer_icon_row {
    max-width: 317px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 18px;

}
.footer_item a {
    color: #E2E2E2;
    font-size: 20px;
    transition: 0.2s;
}
.footer_item a:hover {
    color: tomato;
}

.footer_text_content {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
