header {
    padding: 20px 0 19px 0;
    background-color: #000000;
}
.text_logo {
    Font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff ;
    text-transform: uppercase;
}
.text_logo::after {
    content: 'IT';
    color: #EC7979;
}
.header_wrapp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_row {
    display: flex;
    justify-content: space-between;
}
.nav_row li {
    margin-right: 48px;   
}
.nav_item:last-child {
    margin-right: 0;
}
.nav_link {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
    display: block;
}
.nav_link:hover {
    border-left: 2px solid rgb(0, 255, 255);
    border-bottom: 2px solid rgb(0, 255, 255);
}


