.tabs {
    padding: 100px 0 105px 0;
    background-color: ;
}
.tabs_wrapp {
    display: flex;
    justify-content: space-between;
}
.tab {
    display: block;
    padding: 45px 33px;
    height: 110px;
    width: 110px;
    background-color: #333;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFF;
    border-radius: 5px;
    transition: 0.2s;
}
.tab:hover {
    background-color: #EC7979;
}
.tab:last-child {
    margin-bottom: 0;
}
.tabs_row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 75px;
}
.tabs_content {
    max-width: 568px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 50px;
}
.tab_title {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 58px;
}
.tab_text {
    font-size: 14px;
    font-weight: 400;
    color: #86878B;
    margin-bottom: 89px;
    text-transform: uppercase;
}
.span_tabs {
    display: block;
    margin-top: 10px;
}
.tab_button_download {
    max-width: 135px;
    display: block;
    padding: 11px 27px;
    background-color: #EC7979;
    color: #FFF;
}
.tabs_image {
    max-width: 320px;
}

