* {
    font-family: Open sans, sans-serif; 
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
p {
    color: #86878B;
    font-size: 14px; 
    font-weight: 400;
}
h2 {
    font-size: 20px;
    font-weight: 700;
    color: #333333;
}
.awesome {
    padding: 100px 0 109px 0;
}
.container {
    max-width: 1170px;
    margin: auto;
}
.awesome_title {
    padding-bottom: 36px;
}
.awesome_texttitle {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    margin-bottom: 25px;
}
.line {
    max-width: 64px;
    border-bottom: 1px solid #D98943;
    margin: 0 auto;
    margin-bottom: 30px;
}
.awesome_item_wrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.wrapp_img {
    width: 70px;
    height: 70px;
    border: 1px solid #D98943;
    padding: 20px 23px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;  
}
.craft {
    padding: 21px 15px;
}
.item_text {
    color: #000000;
}
.item_title {
    margin-bottom: 16px;
}
.item_design {
    width: 350px;
    margin-right: 32px;
}
.item_craft {
    width: 350px;
    margin-right: 32px;
}
.item_customize {
    width: 350px;
}









